{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Task App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam corporis provident voluptates quis ipsam consequuntur eos sed tempore, amet obcaecati ea aliquam, numquam alias assumenda repellat fugiat iure cumque! Illum.</p>

    {% if not user.is_authenticated %}
    <div class="text-center">
      <a class="btn btn-secondary" href="{% url 'signin' %}">
        Signin
      </a>
      <a class="btn btn-dark" href="{% url 'signup' %}">
        Signup
      </a>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
