{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Task App</h1>
    <h5 class="text-center mt-5 mb-5">Web app where you can save notes, view all your notes or update/delete your current notes.</h5>

    {% if not user.is_authenticated %}
    <div class="text-center">
      <a class="btn btn-secondary" href="{% url 'signin' %}">
        Signin
      </a>
      <a class="btn btn-dark" href="{% url 'signup' %}">
        Signup
      </a>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
